<p>총 판매액: &#8361; <%= @lottery.sales_in_won %></p>

<p>
	<% @rank.rank_nums.each do |number| %>
		<%= lotto_ball(number.num) %>
	<% end %>
</p>

<% @ranks.each do |rank| %>
	<p>
		<%= rank.rank %>등 당첨자수: <%= rank.winners_in_ko %>
		당첨금액: &#8361; <%= rank.winning_in_won %>
		당첨총액: &#8361; <%= rank.total_winning_in_won %>
	</p>
<% end %>

