<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<!-- store -->
		<div style="margin: 0 -20px; text-align: center;">
			<h1 class="win">
				<%= lottery_name_title(@lottery) %> 
				<span class="gold"><%= @rank.round_in_ko %></span>
				<span class="red"><%= @rank.rank_in_ko %></span>
				당첨점
			</h1>
			<% if @lottery.date_exists? %>
				<p class="win_date">(<%= @lottery.date_in_ko %> 추첨)</p>
			<% end %>
			<h2 class="winning">
				<span class="gold">
					<% unless @rank.is_pension? && @rank.rank == 1 %>&#8361; <% end %>
					<%= @rank.winning_in_won %>
				<span>
			</h2>
		</div>

		<!-- map -->
		<div id="naver_map"></div>
		<p class="addr">(위치: <%= @store.addr %>)</p>

		<!-- lottery -->
		<% if @lottery.is_lotto? %>
			<%= render 'lotto' %>
		<% elsif @lottery.is_pension? %>	
			<%= render 'pension' %>
		<% else %>
			<%= render 'speeto' %>
		<% end %>

		<!-- news -->
		<div id="news"></div>

		<%= link_to new_store_store_err_path(@store), remote: true, data: { toggle: "modal", target: "#modal" } do %>
			당첨점 정보가 틀렸나요?
		<% end %>
	</div>
</div>

<script>
	$(document).ready(function() {
		// map
		<% if @store.have_latlng? %>
			loadNaverMap(8)
		<% else %>
			loadNaverMap()
		<% end %>

		// news
		$.ajax({
			url: '<%= news_path %>',
			data: { id: <%= @store.id %> }
		});
	});
</script>
